<html>
  <head>
    <title>Password Reset</title>
  </head>
  <body>
    <h2>Password Reset</h2>
    <p>Hello {{ user.username }},</p>
    <p>
      You recently requested a password reset for your Filmhelper account.
      Please use the link below to reset your password:
    </p>
    <a
      href="{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}"
      >Reset Password</a
    >
    <p>If you didn't request a password reset, please ignore this email.</p>
    <p>Thank you,</p>
    <p>The Filmhelper Team</p>
  </body>
</html>
